In [1]:
# Import the dependencies
import pandas as pd
import gmaps
import requests

# Import the API key
from config import g_key

In [2]:
type(g_key)

str

In [3]:
# Store the CSV in DataFrame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Atuona,PF,2022-02-02 03:13:42,-9.8000,-139.0333,78.80,74,7,17.69
1,1,Ushuaia,AR,2022-02-02 03:13:14,-54.8000,-68.3000,42.46,70,40,33.38
2,2,Santa Maria,BR,2022-02-02 03:13:42,-29.6842,-53.8069,71.51,58,0,6.76
3,3,Kavieng,PG,2022-02-02 03:13:42,-2.5744,150.7967,82.31,72,100,6.91
4,4,Puerto Ayora,EC,2022-02-02 03:13:43,-0.7393,-90.3518,74.55,96,100,5.01

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use Google API key
gmaps.configure(api_key = g_key)

In [6]:
# Assign the locations to an array of lat and long pairs (Temperature)
locations = city_data_df[["Lat", "Lng"]]

# Assign the weitghts variable to some values
max_temp = city_data_df["Max Temp"]
    
# Assign the figure variable to the gmaps.figure() attribute
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2.0)

# Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
                                dissipating = False, max_intensity = 300, point_radius = 4)

# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Assign the locations to an array of lat and long pairs (Humidity)
locations = city_data_df[["Lat", "Lng"]]

# Assign the weitghts variable to some values
humidity = city_data_df["Humidity"]
    
# Assign the figure variable to the gmaps.figure() attribute
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2.0)

# Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                dissipating = False, max_intensity = 300, point_radius = 4)

# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Assign the locations to an array of lat and long pairs (Cloudiness)
locations = city_data_df[["Lat", "Lng"]]

# Assign the weitghts variable to some values
clouds = city_data_df["Cloudiness"]
    
# Assign the figure variable to the gmaps.figure() attribute
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2.0)

# Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,
                                dissipating = False, max_intensity = 300, point_radius = 4)

# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Assign the locations to an array of lat and long pairs (Wind Speed)
locations = city_data_df[["Lat", "Lng"]]

# Assign the weitghts variable to some values
wind_speed = city_data_df["Wind Speed"]
    
# Assign the figure variable to the gmaps.figure() attribute
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2.0)

# Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed,
                                dissipating = False, max_intensity = 300, point_radius = 4)

# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip?  "))
max_temp = float(input("what is the maximum temperature you would like for your trip?  "))

What is the minimum temperature you would like for your trip?  75
what is the maximum temperature you would like for your trip?  90

In [11]:
# Filter the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                      (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Atuona,PF,2022-02-02 03:13:42,-9.8000,-139.0333,78.80,74,7,17.69
3,3,Kavieng,PG,2022-02-02 03:13:42,-2.5744,150.7967,82.31,72,100,6.91
8,8,Rikitea,PF,2022-02-02 03:09:59,-23.1203,-134.9692,78.40,69,90,4.99
12,12,Busselton,AU,2022-02-02 03:13:45,-33.6500,115.3333,79.05,36,48,12.91
13,13,Manta,EC,2022-02-02 03:13:45,-0.9500,-80.7333,76.78,88,75,1.14
23,23,Bathsheba,BB,2022-02-02 03:13:48,13.2167,-59.5167,77.61,78,40,13.80
25,25,Vanimo,PG,2022-02-02 03:13:48,-2.6741,141.3028,82.00,78,82,4.41
30,30,Avarua,CK,2022-02-02 03:13:50,-21.2078,-159.7750,82.45,78,75,12.66
32,32,Georgetown,MY,2022-02-02 03:11:27,5.4112,100.3354,86.90,70,20,1.01
34,34,Port Alfred,ZA,2022-02-02 03:13:51,-33.5906,26.8910,77.49,74,100,7.18

In [12]:
preferred_cities_df.count()

City_ID       132
City          132
Country       131
Date          132
Lat           132
Lng           132
Max Temp      132
Humidity      132
Cloudiness    132
Wind Speed    132
dtype: int64

In [13]:
preferred_cities_df = preferred_cities_df.dropna()

In [14]:
preferred_cities_df.count()

City_ID       131
City          131
Country       131
Date          131
Lat           131
Lng           131
Max Temp      131
Humidity      131
Cloudiness    131
Wind Speed    131
dtype: int64

In [15]:
# Create DataFram called hotel_df to store hotel names along with city, country, max temp, and coordinates
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
0        Atuona      PF     78.80  -9.8000 -139.0333
3       Kavieng      PG     82.31  -2.5744  150.7967
8       Rikitea      PF     78.40 -23.1203 -134.9692
12    Busselton      AU     79.05 -33.6500  115.3333
13        Manta      EC     76.78  -0.9500  -80.7333
23    Bathsheba      BB     77.61  13.2167  -59.5167
25       Vanimo      PG     82.00  -2.6741  141.3028
30       Avarua      CK     82.45 -21.2078 -159.7750
32   Georgetown      MY     86.90   5.4112  100.3354
34  Port Alfred      ZA     77.49 -33.5906   26.8910

In [16]:
# Set parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

# Iterate through the DataFram
for index, row in hotel_df.iterrows():
    
    # Get the latitude, longitude
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary
    params["location"] = f"{lat}, {lng}"
    
    # Use the search term: lodging and our lat, lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search
    hotels = requests.get(base_url, params = params).json()
    
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [17]:
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng               Hotel Name
0        Atuona      PF     78.80  -9.8000 -139.0333              Villa Enata
3       Kavieng      PG     82.31  -2.5744  150.7967      Nusa Island Retreat
8       Rikitea      PF     78.40 -23.1203 -134.9692          People ThankYou
12    Busselton      AU     79.05 -33.6500  115.3333  Observatory Guest House
13        Manta      EC     76.78  -0.9500  -80.7333           Balandra Hotel
23    Bathsheba      BB     77.61  13.2167  -59.5167           Atlantis Hotel
25       Vanimo      PG     82.00  -2.6741  141.3028    Vahmoneh Lodge Vanimo
30       Avarua      CK     82.45 -21.2078 -159.7750             Paradise Inn
32   Georgetown      MY     86.90   5.4112  100.3354           Cititel Penang
34  Port Alfred      ZA     77.49 -33.5906   26.8910       The Halyards Hotel

In [20]:
# Add a heatmap of temperature for the vacation spots
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center= (30.0, 31.0), zoom_level = 2.0)
heat_layer = gmaps.heatmap_layer(locations, weights = max_temp, dissipating = False,
                                max_intensity = 300, point_radius = 4)

marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp}  F</dd>
</dl>
"""

# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [24]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2.0)
heat_layer = gmaps.heatmap_layer(locations, weights = max_temp, dissipating = False,
                                max_intensity = 300, point_radius = 4)
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))