## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
cd ../

C:\Users\m061046\Desktop\World_Weather_Analysis

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Weather Description
0,0,Qaanaaq,77.4840,-69.3632,1.54,71,100,6.29,GL,overcast clouds
1,1,Coihaique,-45.5752,-72.0662,54.21,76,0,4.61,CL,clear sky
2,2,Geraldton,-28.7667,114.6000,111.61,7,0,5.75,AU,clear sky
3,3,Bredasdorp,-34.5322,20.0403,67.32,64,34,16.11,ZA,scattered clouds
4,4,Barinas,8.6226,-70.2075,78.84,69,81,3.44,VE,broken clouds

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip?  "))
max_temp = float(input("What is the maximum temperature you would like for your trip?  "))

What is the minimum temperature you would like for your trip?  62
What is the maximum temperature you would like for your trip?  85

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                      (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(5)

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Weather Description
3,3,Bredasdorp,-34.5322,20.0403,67.32,64,34,16.11,ZA,scattered clouds
4,4,Barinas,8.6226,-70.2075,78.84,69,81,3.44,VE,broken clouds
6,6,Lorengau,-2.0226,147.2712,84.85,65,98,9.95,PG,overcast clouds
7,7,Sinnamary,5.3833,-52.9500,75.78,88,85,8.55,GF,overcast clouds
13,13,Sao Jose Da Coroa Grande,-8.8978,-35.1478,77.65,75,15,5.70,BR,few clouds

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

Unnamed: 0             278
City                   278
Lat                    278
Lng                    278
Max Temp               278
Humidity               278
Cloudiness             278
Wind Speed             278
Country                271
Weather Description    278
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df = preferred_cities_df.dropna()
preferred_cities_df.count()

Unnamed: 0             271
City                   271
Lat                    271
Lng                    271
Max Temp               271
Humidity               271
Cloudiness             271
Wind Speed             271
Country                271
Weather Description    271
dtype: int64

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with weather info
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Weather Description", "Humidity", "Cloudiness", "Wind Speed", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Humidity,Cloudiness,Wind Speed,Lat,Lng,Hotel Name
3,Bredasdorp,ZA,67.32,scattered clouds,64,34,16.11,-34.5322,20.0403,
4,Barinas,VE,78.84,broken clouds,69,81,3.44,8.6226,-70.2075,
6,Lorengau,PG,84.85,overcast clouds,65,98,9.95,-2.0226,147.2712,
7,Sinnamary,GF,75.78,overcast clouds,88,85,8.55,5.3833,-52.9500,
13,Sao Jose Da Coroa Grande,BR,77.65,few clouds,75,15,5.70,-8.8978,-35.1478,
14,Bengkulu,ID,78.24,overcast clouds,79,100,2.84,-3.8004,102.2655,
15,Arraial Do Cabo,BR,75.49,overcast clouds,88,97,21.16,-22.9661,-42.0278,
17,Atuona,PF,78.78,few clouds,77,20,16.40,-9.8000,-139.0333,
19,Rikitea,PF,78.98,clear sky,69,5,7.52,-23.1203,-134.9692,
20,Muli,MV,82.27,few clouds,72,17,11.21,2.9167,73.5667,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary
    params["location"] = f"{lat}, {lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params = params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [11]:
hotel_df

,City,Country,Max Temp,Weather Description,Humidity,Cloudiness,Wind Speed,Lat,Lng,Hotel Name
3,Bredasdorp,ZA,67.32,scattered clouds,64,34,16.11,-34.5322,20.0403,Bredasdorp Country Manor
4,Barinas,VE,78.84,broken clouds,69,81,3.44,8.6226,-70.2075,Hotel Mastranto Suite
6,Lorengau,PG,84.85,overcast clouds,65,98,9.95,-2.0226,147.2712,Lorengau Harbourside Hotel
7,Sinnamary,GF,75.78,overcast clouds,88,85,8.55,5.3833,-52.9500,ALETHEIA Appartement Sinnamary
13,Sao Jose Da Coroa Grande,BR,77.65,few clouds,75,15,5.70,-8.8978,-35.1478,Crôa Mares Hotel
...,...,...,...,...,...,...,...,...,...,...
696,Buritis,BR,71.02,overcast clouds,91,99,1.68,-15.6178,-46.4233,Hotel Rainha do Vale
698,Kismayo,SO,79.92,scattered clouds,75,46,15.10,-0.3582,42.5454,Agan-Hotel
699,Koutiala,ML,67.12,few clouds,15,16,9.46,12.3917,-5.4642,Hotel La Chaumiere
701,Morant Bay,JM,72.63,few clouds,80,18,10.94,17.8815,-76.4093,Whispering Bamboo Cove Resort
703,Jatiroto,ID,83.25,broken clouds,72,56,5.39,-7.8833,111.1167,Mushola Al Huda

In [12]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df = hotel_df.dropna()
hotel_df

,City,Country,Max Temp,Weather Description,Humidity,Cloudiness,Wind Speed,Lat,Lng,Hotel Name
3,Bredasdorp,ZA,67.32,scattered clouds,64,34,16.11,-34.5322,20.0403,Bredasdorp Country Manor
4,Barinas,VE,78.84,broken clouds,69,81,3.44,8.6226,-70.2075,Hotel Mastranto Suite
6,Lorengau,PG,84.85,overcast clouds,65,98,9.95,-2.0226,147.2712,Lorengau Harbourside Hotel
7,Sinnamary,GF,75.78,overcast clouds,88,85,8.55,5.3833,-52.9500,ALETHEIA Appartement Sinnamary
13,Sao Jose Da Coroa Grande,BR,77.65,few clouds,75,15,5.70,-8.8978,-35.1478,Crôa Mares Hotel
...,...,...,...,...,...,...,...,...,...,...
696,Buritis,BR,71.02,overcast clouds,91,99,1.68,-15.6178,-46.4233,Hotel Rainha do Vale
698,Kismayo,SO,79.92,scattered clouds,75,46,15.10,-0.3582,42.5454,Agan-Hotel
699,Koutiala,ML,67.12,few clouds,15,16,9.46,12.3917,-5.4642,Hotel La Chaumiere
701,Morant Bay,JM,72.63,few clouds,80,18,10.94,17.8815,-76.4093,Whispering Bamboo Cove Resort
703,Jatiroto,ID,83.25,broken clouds,72,56,5.39,-7.8833,111.1167,Mushola Al Huda

In [13]:
# 8a. Create the output File (CSV)

# 8b. Export the City_Data into a csv
hotel_df.to_csv("Vacation_Search/Vacation_Search.csv", index_label="City_ID")

In [14]:
# 9. Using the template add city name, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp}  F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [15]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2.0)
heat_layer = gmaps.heatmap_layer(locations, weights = max_temp, dissipating = False,
                                max_intensity = 300, point_radius = 4)
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))